# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
dist/

# System files
.DS_Store

# Lockfiles
package-lock.json

# Temporary files
*.tmp
*.swp

# IDE/editor-specific files
.vscode/
.idea/
*.iml

